<a href="https://colab.research.google.com/github/youngeo0201/github-hw/blob/main/7%EC%A3%BC%EC%B0%A8_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 과제15
input_data = input("숫자 10개를 공백으로 구분하여 입력하세요: ")
numbers = list(map(int, input_data.split()))

if len(numbers) == 10:
    min_value = min(numbers)
    max_value = max(numbers)
    print(f"최솟값: {min_value}, 최댓값: {max_value}")
else:
    print("10개의 숫자를 입력해주세요.")

숫자 10개를 공백으로 구분하여 입력하세요: 10 2 30 5 1 45 7 12 8 20
최솟값: 1, 최댓값: 45

In [ ]:
#과제16
input_data = input("숫자 10개를 공백으로 구분하여 입력하세요: ")

numbers = list(map(int, input_data.split()))

total_sum = sum(numbers)

min_val = min(numbers)
max_val = max(numbers)

sum_except_min_max = total_sum - min_val - max_val

숫자 10개를 공백으로 구분하여 입력하세요: 10 2 30 5 1 45 7 12 8 20

In [ ]:
#과제17
a = [10, 20, 30, 40, 30, 20, 10]
value_to_remove = 20

while value_to_remove in a:
    a.remove(value_to_remove)

print(f"20을 모두 삭제한 후 리스트: {a}")

20을 모두 삭제한 후 리스트: [10, 30, 40, 30, 10]

In [ ]:
#과제18
new_list = [i for i in range(1, 6)]

print(f"생성된 리스트: {new_list}")

생성된 리스트: [1, 2, 3, 4, 5]

In [ ]:
#과제19
odd_numbers = [i for i in range(1, 21) if i % 2 != 0]

print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
#과제20
input_data = input("두 정수(시작 N, 끝 M)를 공백으로 구분하여 입력하세요 (N < M): ")
start_n, end_m = map(int, input_data.split())

power_of_two_list = [2**i for i in range(start_n, end_m + 1)]

list_len = len(power_of_two_list)

if list_len >= 4:
    result_list = power_of_two_list[:1] + power_of_two_list[2:-2] + power_of_two_list[-1:]

elif list_len == 3:
    result_list = [power_of_two_list[0], power_of_two_list[-1]]

else:
    result_list = []

print(f"실행결과: {result_list}")

두 정수(시작 N, 끝 M)를 공백으로 구분하여 입력하세요 (N < M): 1 10
실행결과: [2, 8, 16, 32, 64, 128, 256, 1024]

In [ ]:
#과제21
test_string = "world!"
test_number = 100

print("Hello, {0}".format(test_string))
print("Hello, {0}".format(test_number))

Hello, world!
Hello, 100

In [ ]:
#과제22
test_string1 = "python"
test_string1 = "score"
test_number  = 100
test_number  = 99

print("나의 이번학기 {0}과목의 {1}는 {3}점이 아닌 {2}점이다.무조건 {2}.")

나의 이번학기 {0}과목의 {1}는 {3}점이 아닌 {2}점이다.무조건 {2}.

In [ ]:
#과제23
test_string1 = "python"
test_string2 = "script"
test_number1 = 3.6

print("Hello, {} {} {}".format(test_string1, test_string2, test_number1))

Hello, python script 3.6

In [ ]:
#과제24
test_string = "python"
test_number1 = 3.6

print("Hello, {version} {language}".format(language=test_string, version=test_number1))

Hello, 3.6 python