In [ ]:
#과제25
keys_input = "alpha bravo charlie delta echo foxtrot golf"
values_input = "30 40 50 60 70 80 90"

keys = keys_input.split()
values = [int(v) for v in values_input.split()]

selected_keys = [keys[i] for i in [1, 2, 4, 5, 6]]
selected_values = [values[i] for i in [1, 2, 4, 5, 6]]

result_dict = dict(zip(selected_keys, selected_values))

print(result_dict)

{'bravo': 40, 'charlie': 50, 'echo': 70, 'foxtrot': 80, 'golf': 90}

In [ ]:
#과제26
park = {'korean': 94, 'english': 91, 'mathematics': 89, 'science': 83}

print(f"English Score: {park['english']}")
print(f"Science Score: {park['science']}")

English Score: 91
Science Score: 83

In [ ]:
#과제27
kim = {'korean': 94, 'english': 91, 'mathematics': 89, 'science': 83}

for subject in kim:
    kim[subject] = 100

print(kim)

{'korean': 100, 'english': 100, 'mathematics': 100, 'science': 100}

In [4]:
#과제28
lee = {'korean': 94, 'english': 91, 'mathematics': 89, 'science': 83}

if 'english' in lee:
    del lee['english']

print(lee)

{'korean': 94, 'mathematics': 89, 'science': 83}

In [5]:
#과제29
lim = {'korean': 94, 'english': 91, 'mathematics': 89, 'science': 83}

for key, value in lim.items():
    print(f"Key: {key}, Value: {value}")

Key: korean, Value: 94
Key: english, Value: 91
Key: mathematics, Value: 89
Key: science, Value: 83

In [6]:
#과제30
choi = {'korean': 94, 'english': 91, 'mathematics': 89, 'science': 83}

high_scores = {key: value for key, value in choi.items() if value >= 90}

print(list(high_scores.keys()))

['korean', 'english']

In [7]:
#과제31
yoo = {'korean': 94, 'english': 91, 'mathematics': 89, 'science': 83}

scores = yoo.values()

total_sum = sum(scores)

count = len(scores)

average = total_sum / count

print(f"4과목 평균: {average:.2f}")

4과목 평균: 89.25